## OMDb API
This project uses OMDb API (http://www.omdbapi.com/) to search for movie information and store it to a MySQL database.

In [1]:
import requests
import json
import mysql.connector
import pandas as pd

#### Part 1
Search for all the movies containing the word "blade".

In [21]:
apikey = ''
title = 'blade'
searchtype = 'movie'
returntype = 'json'
API_version = '1'
plot = 'short'
url = 'http://www.omdbapi.com/'
headers = {'user-agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36",
}

In [26]:
def searchByTitle(apikey, url, title):
    api_url = url + '?apikey=' + apikey + '&s=' + title + '&type=' + searchtype + '&v=' + API_version +'&r=' + returntype + '&plot=' + plot
    json_blade_movie = requests.request("POST", api_url, headers=headers)
    json_blade_movie = json_blade_movie.json()
    print("The URL string that would search for all the movies containing the word : "+ title + ": " + api_url)
    return json_blade_movie

In [25]:
searchByTitle(apikey, url, title)

The URL string that would search for all the movies containing the word : bladehttp://www.omdbapi.com/?apikey=ee58b5a0&s=blade&type=movie&v=1&r=json&plot=short

{'Search': [{'Title': 'Blade Runner',
   'Year': '1982',
   'imdbID': 'tt0083658',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg'},
  {'Title': 'Blade Runner 2049',
   'Year': '2017',
   'imdbID': 'tt1856101',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg'},
  {'Title': 'Blade',
   'Year': '1998',
   'imdbID': 'tt0120611',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg'},
  {'Title': 'Blade II',
   'Year': '2002',
   'imdbID': 'tt0187738',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg'},
  {'Title': 'Blade: Trinity',
   'Year': '2004',
   'imdbID': 'tt0359013',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg'},
  {'Title': 'Sling Blade',
   'Year': '1996',
   'imdbID': 'tt0117666',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg'},
  {'Title': 'Dragon Blade',
   'Year': '2015',
   'imdbID': 'tt3672840',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg'},
  {'Title': 'Blade of the Immortal',
   'Year': '2017',
   'imdbID': 'tt5084170',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg'},
  {'Title': 'Shinobi: Heart Under Blade',
   'Year': '2005',
   'imdbID': 'tt0475723',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg'},
  {'Title': 'Blade Runner: Black Out 2022',
   'Year': '2017',
   'imdbID': 'tt7428594',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg'}],
 'totalResults': '174',
 'Response': 'True'}

#### Part 2
- Uses the OMDb API to search for information of my favourite movies.
- Connects to local SQL instance (MySQL), creates a database named "ucdavis" and a table "omdb" containing the columns: title, year, genre, director, imdb_rating, rotten_tomatoes, metacritic, plot, box_office.

In [38]:
topmovies = ['Titanic', '1900', 'Amelie', 'Trainspotting', 'Coherence', 'Inception']

In [39]:
def searchForID(apikey, url, title):
    api_url = url + '?apikey=' + apikey + '&t=' + title + '&type=' + searchtype + '&v=' + API_version +'&r=' + returntype + '&plot=' + plot
    response = requests.get(api_url) 
    response_json = response.json()
    return response_json['Title'], response_json['imdbID']

In [46]:
topmovies_imdbid = []
for topmovie in topmovies:
    title, imdbID = searchForID(apikey, url, topmovie)
    topmovies_imdbid.append([title, imdbID])
topmovies_imdbid = pd.DataFrame(topmovies_imdbid, columns = ["Title", "imdbID"])
topmovies_imdbid.head()

           Title     imdbID
0        Titanic  tt0120338
1           1900  tt0074084
2         Amelie  tt7686962
3  Trainspotting  tt0117951
4      Coherence  tt2866360

In [9]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="")
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE IF EXISTS ucdavis")
mycursor.execute("CREATE DATABASE ucdavis")
mycursor.execute("USE ucdavis")
mycursor.execute("DROP TABLE IF EXISTS omdb")
mycursor.execute("CREATE TABLE omdb(" 
                 "imdb_id VARCHAR(255),"
                 "title VARCHAR(255),"
                 "year VARCHAR(255),"
                 "director VARCHAR(255),"
                 "imdb_rating VARCHAR(10),"
                 "rotten_tomatoes VARCHAR(10),"
                 "metacritic VARCHAR(10),"
                 "plot TEXT(255) ,"
                 "box_office TEXT(255),"
                 "Genre VARCHAR(255))")

In [10]:
topmovies_information = []
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="happy100_",
  database = "ucdavis"
)
mycursor = mydb.cursor()
for imdbid in topmovies_imdbid['imdbID']:
    Rotten_Tomatoes = 'N/A'
    Metacritic_ = 'N/A'  
    OMDb_api_url_topmovie_information = 'http://www.omdbapi.com/?apikey='+apikey+'&i='+imdbid+'&type='+searchtype+'&v='+API_version+'&r='+returntype+'&plot=full'
    topmovie_information = requests.request("POST", OMDb_api_url_topmovie_information, headers=headers)
    topmovie_information = json.loads(topmovie_information.text)
    for i in range(len(topmovie_information['Ratings'])):
        if topmovie_information['Ratings'][i]['Source'] == 'Rotten Tomatoes':
            Rotten_Tomatoes = topmovie_information['Ratings'][1]['Value'][0:2]
        if topmovie_information['Ratings'][i]['Source'] == 'Metacritic':
            Metacritic = topmovie_information['Ratings'][2]['Value'][0:2]
    information = {'Year':topmovie_information['Year'],
                   'Title':topmovie_information['Title'], 
                   'imdbID':topmovie_information['imdbID'],
                   'Genre':topmovie_information['Genre'],
                   'Director':topmovie_information['Director'],
                   'imdbRating':topmovie_information['imdbRating'],
                   'Plot':topmovie_information['Plot'],
                   'BoxOffice':topmovie_information['BoxOffice'],
                   'Rotten Tomatoes':Rotten_Tomatoes,
                   'Metacritic':Metacritic
                  }
    topmovies_information.append(information)
    print(json.dumps(topmovie_information,indent = 4,sort_keys=True))
    mycursor.execute("INSERT INTO omdb"
                     "(imdb_id, title, year, director, imdb_rating, rotten_tomatoes, metacritic, plot, box_office,Genre)"
                     " VALUES (%(imdbID)s, %(Title)s, %(Year)s, %(Director)s, %(imdbRating)s, %(Rotten Tomatoes)s, "
                     "%(Metacritic)s, %(Plot)s, %(BoxOffice)s,%(Genre)s)",information)
    mydb.commit()
mydb.close()

{
    "Actors": "Leonardo DiCaprio, Kate Winslet, Billy Zane, Kathy Bates",
    "Awards": "Won 11 Oscars. Another 114 wins & 83 nominations.",
    "BoxOffice": "N/A",
    "Country": "USA",
    "DVD": "10 Sep 2012",
    "Director": "James Cameron",
    "Genre": "Drama, Romance",
    "Language": "English, Swedish, Italian",
    "Metascore": "75",
    "Plot": "84 years later, a 100 year-old woman named Rose DeWitt Bukater tells the story to her granddaughter Lizzy Calvert, Brock Lovett, Lewis Bodine, Bobby Buell and Anatoly Mikailavich on the Keldysh about her life set in April 10th 1912, on a ship called Titanic when young Rose boards the departing ship with the upper-class passengers and her mother, Ruth DeWitt Bukater, and her fianc\u00e9, Caledon Hockley. Meanwhile, a drifter and artist named Jack Dawson and his best friend Fabrizio De Rossi win third-class tickets to the ship in a game. And she explains the whole story from departure until the death of Titanic on its first and last voyage April 15th, 1912 at 2:20 in the morning.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg",
    "Production": "Paramount Pictures",
    "Rated": "PG-13",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "7.8/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "89%"
        },
        {
            "Source": "Metacritic",
            "Value": "75/100"
        }
    ],
    "Released": "19 Dec 1997",
    "Response": "True",
    "Runtime": "194 min",
    "Title": "Titanic",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "James Cameron",
    "Year": "1997",
    "imdbID": "tt0120338",
    "imdbRating": "7.8",
    "imdbVotes": "997,454"
}
{
    "Actors": "Robert De Niro, G\u00e9rard Depardieu, Dominique Sanda, Francesca Bertini",
    "Awards": "2 wins & 4 nominations.",
    "BoxOffice": "N/A",
    "Country": "Italy, France, West Germany",
    "DVD": "05 Dec 2006",
    "Director": "Bernardo Bertolucci",
    "Genre": "Drama, History",
    "Language": "Italian",
    "Metascore": "70",
    "Plot": "Set in Italy, the film follows the lives and interactions of two boys/men, one born a bastard of peasant stock (Depardieu), the other born to a land owner (de Niro). The drama spans from 1900 to about 1945, and focuses mainly on the rise of Fascism and the peasants' eventual reaction by supporting Communism, and how these events shape the destinies of the two main characters.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNTFiZmU4NzMtMWY0NS00MGYyLThjMmMtNDk0ZmNlNTg3N2FmXkEyXkFqcGdeQXVyMTA2ODMzMDU@._V1_SX300.jpg",
    "Production": "Paramount Pictures",
    "Rated": "Unrated",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "7.7/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "47%"
        },
        {
            "Source": "Metacritic",
            "Value": "70/100"
        }
    ],
    "Released": "04 Nov 1977",
    "Response": "True",
    "Runtime": "317 min",
    "Title": "1900",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "Franco Arcalli (screenplay by), Giuseppe Bertolucci (screenplay by), Bernardo Bertolucci (screenplay by)",
    "Year": "1976",
    "imdbID": "tt0074084",
    "imdbRating": "7.7",
    "imdbVotes": "21,255"
}
{
    "Actors": "Marie Carrour",
    "Awards": "N/A",
    "BoxOffice": "N/A",
    "Country": "N/A",
    "DVD": "N/A",
    "Director": "Aurore Damant, Aurore Deman",
    "Genre": "Short",
    "Language": "N/A",
    "Metascore": "N/A",
    "Plot": "N/A",
    "Poster": "N/A",
    "Production": "N/A",
    "Rated": "N/A",
    "Ratings": [],
    "Released": "N/A",
    "Response": "True",
    "Runtime": "N/A",
    "Title": "Amelie",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "N/A",
    "Year": "2017",
    "imdbID": "tt7686962",
    "imdbRating": "N/A",
    "imdbVotes": "N/A"
}
{
    "Actors": "Ewan McGregor, Ewen Bremner, Jonny Lee Miller, Kevin McKidd",
    "Awards": "Nominated for 1 Oscar. Another 23 wins & 33 nominations.",
    "BoxOffice": "N/A",
    "Country": "UK",
    "DVD": "24 Mar 1998",
    "Director": "Danny Boyle",
    "Genre": "Drama",
    "Language": "English",
    "Metascore": "83",
    "Plot": "A wild, freeform, Rabelaisian trip through the darkest recesses of Edinburgh low-life, focusing on Mark Renton and his attempt to give up his heroin habit, and how the latter affects his relationship with family and friends: Sean Connery wannabe Sick Boy, dimbulb Spud, psycho Begbie, 14-year-old girlfriend Diane, and clean-cut athlete Tommy, who's never touched drugs but can't help being curious about them...",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMzA5Zjc3ZTMtMmU5YS00YTMwLWI4MWUtYTU0YTVmNjVmODZhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg",
    "Production": "Miramax Films",
    "Rated": "R",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "8.1/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "90%"
        },
        {
            "Source": "Metacritic",
            "Value": "83/100"
        }
    ],
    "Released": "09 Aug 1996",
    "Response": "True",
    "Runtime": "93 min",
    "Title": "Trainspotting",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "Irvine Welsh (based on the novel by), John Hodge (screenplay)",
    "Year": "1996",
    "imdbID": "tt0117951",
    "imdbRating": "8.1",
    "imdbVotes": "610,211"
}
{
    "Actors": "Emily Baldoni, Maury Sterling, Nicholas Brendon, Lorene Scafaria",
    "Awards": "5 wins & 5 nominations.",
    "BoxOffice": "N/A",
    "Country": "USA, UK",
    "DVD": "20 Jan 2015",
    "Director": "James Ward Byrkit",
    "Genre": "Drama, Horror, Mystery, Sci-Fi, Thriller",
    "Language": "English",
    "Metascore": "65",
    "Plot": "On the night of an astronomical anomaly, eight friends at a dinner party experience a troubling chain of reality bending events.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNzQ3ODUzNDY2M15BMl5BanBnXkFtZTgwNzg0ODY2MTE@._V1_SX300.jpg",
    "Production": "Oscilloscope Pictures",
    "Rated": "Not Rated",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "7.2/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "88%"
        },
        {
            "Source": "Metacritic",
            "Value": "65/100"
        }
    ],
    "Released": "06 Aug 2014",
    "Response": "True",
    "Runtime": "89 min",
    "Title": "Coherence",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "James Ward Byrkit (screenplay by), James Ward Byrkit (story by), Alex Manugian (story by)",
    "Year": "2013",
    "imdbID": "tt2866360",
    "imdbRating": "7.2",
    "imdbVotes": "95,935"
}
{
    "Actors": "Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page, Tom Hardy",
    "Awards": "Won 4 Oscars. Another 152 wins & 210 nominations.",
    "BoxOffice": "$292,568,851",
    "Country": "USA, UK",
    "DVD": "07 Dec 2010",
    "Director": "Christopher Nolan",
    "Genre": "Action, Adventure, Sci-Fi, Thriller",
    "Language": "English, Japanese, French",
    "Metascore": "74",
    "Plot": "Dom Cobb is a skilled thief, the absolute best in the dangerous art of extraction, stealing valuable secrets from deep within the subconscious during the dream state, when the mind is at its most vulnerable. Cobb's rare ability has made him a coveted player in this treacherous new world of corporate espionage, but it has also made him an international fugitive and cost him everything he has ever loved. Now Cobb is being offered a chance at redemption. One last job could give him his life back but only if he can accomplish the impossible - inception. Instead of the perfect heist, Cobb and his team of specialists have to pull off the reverse: their task is not to steal an idea but to plant one. If they succeed, it could be the perfect crime. But no amount of careful planning or expertise can prepare the team for the dangerous enemy that seems to predict their every move. An enemy that only Cobb could have seen coming.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg",
    "Production": "Warner Bros. Pictures",
    "Rated": "PG-13",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "8.8/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "87%"
        },
        {
            "Source": "Metacritic",
            "Value": "74/100"
        }
    ],
    "Released": "16 Jul 2010",
    "Response": "True",
    "Runtime": "148 min",
    "Title": "Inception",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "Christopher Nolan",
    "Year": "2010",
    "imdbID": "tt1375666",
    "imdbRating": "8.8",
    "imdbVotes": "1,924,665"
}

In [47]:
topmovies_information = pd.DataFrame(topmovies_information)
topmovies_information.head()

,BoxOffice,Director,Genre,Metacritic,Plot,Rotten Tomatoes,Title,Year,imdbID,imdbRating
0,N/A,James Cameron,"Drama, Romance",75,"84 years later, a 100 year-old woman named Ros...",89,Titanic,1997,tt0120338,7.8
1,N/A,Bernardo Bertolucci,"Drama, History",70,"Set in Italy, the film follows the lives and i...",47,1900,1976,tt0074084,7.7
2,N/A,"Aurore Damant, Aurore Deman",Short,70,N/A,N/A,Amelie,2017,tt7686962,N/A
3,N/A,Danny Boyle,Drama,83,"A wild, freeform, Rabelaisian trip through the...",90,Trainspotting,1996,tt0117951,8.1
4,N/A,James Ward Byrkit,"Drama, Horror, Mystery, Sci-Fi, Thriller",65,"On the night of an astronomical anomaly, eight...",88,Coherence,2013,tt2866360,7.2